@tailwind base;
@tailwind components;
@tailwind utilities;

.mask-gradient {
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(18, 27, 52, 1) 20%,
    rgba(18, 27, 52, 1) 80%,
    rgba(255, 255, 255, 0)
  );
}

.mask-gradient-hotd {
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(18, 27, 52, 1) 0%,
    rgba(18, 27, 52, 1) 70%,
    rgba(255, 255, 255, 0)
  );
}

@media screen and (min-width: 768px) {
  /* Adjust percentage for desktop screens */
  .mask-gradient-hotd {
    -webkit-mask-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(18, 27, 52, 1) 0%,
      rgba(18, 27, 52, 1) 90%,
      rgba(255, 255, 255, 0)
    );
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.infinite-scroll {
  animation: 12s marquee infinite linear;

  @media (min-width: 768px) {
    /* Adjust animation duration for larger screens */
    animation-duration: 20s;
  }

  @media (min-width: 1024px) {
    /* Further adjust animation duration for even larger screens */
    animation-duration: 30s;
  }
}
